/* css styles */
.image-row {
    display: flex;
    justify-content: flex-start;
  }
  
.image-row img {
    width: calc(70% - 10px); /* Adjust as needed */
    height: auto;
}

.scrollable-sql {
  overflow: auto;
  max-height: 300px; /* Adjust height as needed */
  max-width: 80%; /* Adjust width as needed */
  border: 1px solid #221730; /* Optional: add a border for visual separation */
  padding: 10px; /* Optional: add padding for better readability */
  background-color: #beaed4; /* Optional: add a background color for better contrast */
}

}
.left-aligned-image {
    width: calc(70% - 10px);
    float: none;
    margin-right: 5%;
    margin-left: 5%;/* Optional: Add margin for spacing between images */
    
.content-wrapper {
    max-width: 40%;
    margin: 0 auto; /* Center the content horizontally */
}